  <div data-id="{{job.id}}" class="one-new-job thumbnail item view overlay hm-grey-light">
     <div class="mask"></div>
     <div  data-id="{{job.id}}" class="panel-body">
         <p class="job-display">{{job.content}}</p>
       <div class="caption">
           <div class="action-container">
              <button data-id="{{job.id}}" class="edit-job-button mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">mode_edit</i>
              </button>
              <button data-id="{{job.id}}" class="delete-idea-button mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">delete</i>
              </button>
          </div>
    </div>
    </div>
  </div>
