{{#each jobs as |job|}}

        <div id="task-handbar" class="task center-block" data-value={{job.id}}>

          <label data-id={{job.id}}>
            {{#if completed}}
              <input class="edit btn" type="checkbox" autocomplete="off" checked data-id={{job.id}}> <span style='color:red;text-decoration:line-through' class="task-name"> {{task}} <span>
            {{else}}
              <input class="edit btn" type="checkbox" autocomplete="off" data-id={{job.id}}> <span class="task-name"> {{task}} <span>
            {{/if}}
          </label>

          <button type="submit" class="close delete-job-button" aria-label="Delete">
          <span aria-hidden="true" data-id={{id}}>
            &times; </span>
          </button>

        </div>
{{/each}}
